# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
.venv/
*.egg

# Env
.env
.env.local
.env.docker

# IDE
.vscode/
.idea/
*.swp
*.swo

# Data
data/
logs/
debug/
.pids/

# OS
.DS_Store
Thumbs.db
